<body>
    <div id="ob">
        <link href="{{url_for('static',filename='styles/common.css')}}" rel="stylesheet" type="text/css">
        
        <nav class="navbar">
            <div class="navdiv">
        <div class="logo"><h1 >SRI RAMAKRISHNA ENGINEERING COLLEGE</h1></div>
        <ul>
            <li>
                <a href="open"  >Home</a>
            </li>
        </ul>
        </div>
        </nav>
    <center>
        <img src="{{url_for('static',filename='image/srec.jpeg')}}" width="1250px" height="500px">
    <div class="head">
        <h1>VISION</h1>
    </div>
  
    <p>To develop into a leading world class Technological University consisting of Schools</br>
       of Excellence in various disciplines with a co-existent Centre for Engineering Solutions</br>
       Development for world-wide clientele.</p>
   
    <div class="head">
     <h1>MISSION</h1>
    </div>
    
    <p style="padding-bottom:100px;">To provide all necessary inputs to the students for them to grow into knowledge engineers and scientists attaining.</br>

        Excellence in domain knowledge- practice and theory.</br>
        Excellence in co-curricular and Extra curricular talents.</br>
        Excellence in character and personality.</p>
     </center>
    </body>
<footer class="foot">
    <center><p>
    Sri Ramakrishna Engineering college</p>
    <p>Vattamalai Palayam</p>
    <p>Coimbatore
    </p>
    </center>
</footer>
<style>
.head{background-color: rgb(8, 0, 113);
    position:sticky;
    color:white;
    width:200px;
    border-radius:10px;
}

</style>