<head>
    <div id="ob">
        <link href="{{url_for('static',filename='styles/common.css')}}" rel="stylesheet" type="text/css">
        
        <nav class="navbar">
            <div class="navdiv">
        <div class="logo"><h1>SRI RAMAKRISHNA ENGINEERING COLLEGE</h1></div>
        <ul>
            <li>
                <a href="open">Home</a>
            </li>
        </ul>
        </div>
        </nav>
    </div>
</head>
<body>
    <center>
        <link href="{{url_for('static',filename='styles/loginstaff.css')}}" rel="stylesheet" type="text/css">
        <img src="{{url_for('static',filename='image/srec.jpeg')}}" width="1250px" height="500px">
        <h3 h3 style="color: rgb(8, 0, 113)">Leave Application</h3>
        <form method="POST">
        <div class="f">
        <h1  h1 style="color: rgb(8, 0, 113)">Login</h1>
        <input type="text" placeholder="Username" id="Username" name="aname" autocomplete="off">
        <input type="password" placeholder="Password" id="Password" name="apass" autocomplete="off">
        <a href=>forget password?</a>
        <input type="submit" value="Login" name="alogin" >
        </form>
        </div>
        </center>
</body>
<footer>
    <center>
        <p>Sri Ramakrishna Engineering college</p>
        <p>Vattamalai Palayam</p>
        <p>Coimbatore
        </p>
        </center>
</footer>