<head>
    <div id="ob">
        <link href="{{url_for('static',filename='styles/common.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static',filename='styles/admin.css')}}" rel="stylesheet" type="text/css">
        <nav class="navbar">
            <div class="navdiv">
        <div class="logo"><h1 class="g">SRI RAMAKRISHNA ENGINEERING COLLEGE</h1></div>
        <ul>
            <li>
                <a href="open"  >Home</a>
            </li>
        </ul>
        </div>
        </nav>
    </div>
</head>
<center> 
    <img src="{{url_for('static',filename='image/srec.jpeg')}}" width="1250px" height="500px">
<body class="s">
<h1 style="background-color: rgb(8, 0, 113);
position:sticky;
color:white;
width:500;
border-radius:10px;">
    Address
</h1>
<p>Vattamalaipalayam,</br>
N.G.G.O. Colony (Post),</br>
Coimbatore-641022,</br>
Tamilnadu,India.</br>
</p>
<h1 style="background-color: rgb(8, 0, 113);
position:sticky;
color:white;
width:500px;
border-radius:10px;">
    Phone Number
</h1>
<p>(+91)-75300-89996</br>
    (+91)-75300-89997</br>
</p>
<h1 style="background-color: rgb(8, 0, 113);
position:sticky;
color:white;
width:500px;
border-radius:10px;">Email Address</h1>
<p>
    principal@srec.ac.in
</p>
</body>
</center>
<footer class="foot">
    <center>
        <p>Sri Ramakrishna Engineering college</p>
        <p>Vattamalai Palayam</p>
        <p>Coimbatore
        </p>
        </center>
</footer>
