<body id="ob">
    <link href="{{url_for('static',filename='styles/open.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='styles/common.css')}}" rel="stylesheet" type="text/css">
    
    <nav class="navbar">
        <div class="navdiv">
    <div class="logo"><h1>SRI RAMAKRISHNA ENGINEERING COLLEGE</h1></div>
    <ul>
        <li>
            <a href="open"  >Home</a>
        </li>
        <li>
            <a href="about"  >About</a>
        </li>
        <li>
            <a href="contact"  >Contact</a>
        </li>
        <li>
            <a href="#"  >Login</a>
            <ul class="dropdown">
                <li><a href="login">Staff</a></li>
                <li><a href="plog">Principal</a></li>
                <li><a href="alog">HODs</a></li>

            </ul>
        </li>
        <button>
            <a href="signup">Signup</a>
        </button>
    </ul>
    </div>
    </nav>
  <center><img src="{{url_for('static',filename='image/clg.jpeg')}}" width="1000px" height="400px" style="padding-top:50px;"></center> 
    <div class="welcome">
        
        <h1 style="color:black;">
            WELCOME !!!
        </h1>
        
    </div>
<footer class="foot">
    <center><p>
    Sri Ramakrishna Engineering college</p>
    <p>Vattamalai Palayam</p>
    <p>Coimbatore
    </p>
    </center>
</footer>
</body>
<style>
.foot{background-color: rgb(8, 0, 113);
    position:sticky;
    top:100%;
    color:white;
}</style>