<center><head>
    <div id="ob">
        <link href="{{url_for('static',filename='styles/common.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static',filename='styles/admin.css')}}" rel="stylesheet" type="text/css">
        <nav class="navbar">
            <div class="navdiv">
        <div class="logo"><h1>SRI RAMAKRISHNA ENGINEERING COLLEGE</h1></div>
        <ul>
            <li>
                <a href="open"  >Home</a>
            </li>
        </ul>
        </div>
        </nav>
    </div>

</head>
<body>

    <form method="POST">
<div style="margin-top:100px"></div>
<h3>Users</h3>
{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category, message in messages %}
                             <div>{{message}}</div>
                        {% endfor %}
                {% endif %}
{% endwith %}
<table border="1">
<thead>
    <tr>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Department</th>
        <th style="text-align:center">Designation</th>
        <th style="text-align:center">OD Document</th>
        <th style="text-align:center">From Date</th>
        <th style="text-align:center">To Date</th>
        <th style="text-align:center">Reason</th>
        <th style="text-align:center">Address</th>
        <th style="text-align:center">Contact</th>
        <th style="text-align:center">Action</th>
    </tr>
</thead>
<tbody>
    {% for data in res %}
    <tr>
        <td name="name">{{data.name}}</td>
        <td style="text-align:center" name="dept">{{data.department}}</td>
        <td style="text-align:center">{{data.designation}}</td>
        <td name="doc">{{data.document}}</td>
        <td name="fromdate">{{data.fromdate}}</td>
        <td name="todate">{{data.todate}}</td>
        <td name="reason">{{data.reason}}</td>
        <td name="address">{{data.address}}</td>
        <td style="text-align:center" name="contact">{{data.contact}}</td>
        <td style="text-align:center"><a href="pview_users" style="color:green; margin: 10px;" name="approved">APPROVE</a><a href="#" style="color:red; margin: 10px;" name="denied">DENY</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>    
    </form>       
</body>
<footer class="foot">
    <center>
        <p>Sri Ramakrishna Engineering college</p>
        <p>Vattamalai Palayam</p>
        <p>Coimbatore
        </p>
        </center>
</footer>
</center>